.background-options-main{
    padding-left: 10px;
}

.background-types{
    display: flex;
    justify-content: space-around;
}

.background-menu, .background-option{
    width: 8.5rem;
    height: 6rem;
    border-radius: .8rem;
    background-size: cover;
}

.background-options{
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}

.background-types-wrapper h3{
    text-align: center;
    
}

.background-menu-colors{
    background: purple;
}

.background-menu-image{
    background-size: cover;
}